:root {
  --sidemenu-width-mobile: 0vw;
  --sidemenu-width-small: 20vw;
  --sidemenu-width-medium: 50%;
  --sidemenu-width-large: 100%;
}

* {
  overflow: hidden;
}

.sidemenu-container {
  display: flex;
  width: 100%;

  @media (max-width: 650px) {
    justify-content: center;
  }
<<<<<<< Updated upstream

  @media (max-width: 1600px){
    
  }
=======
>>>>>>> Stashed changes
}

.sidemenu {
  position: relative;
  height: 100vh;
  width: 60%;
  background-color: #0267ff;

  img {
    width: 100vh;
    height: 109vh;
  }

  @media (max-width: 600px) {
    width: var(--sidemenu-width-mobile);
  }

  @media (min-width: 601px) and (max-width: 853.2px) {
    width: var(--sidemenu-width-small);
  }
}
@media only screen and (max-width: 1600px) {
  .sidemenu {
    width: var(--sidemenu-width-large);
  }
}
