:root {
  --button-width: 200px;
  --button-height: 30px;
  --pick-button-size: 7rem;
}

.interest-success {
  width: 85%;
}

.interest-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 4rem 0rem;

  .pick-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;

    .pick-button {
      position: relative;
      display: flex;
      flex-direction: column;
      width: var(--button-width);
      height: var(--button-width);
      padding: 10px;
      @media (max-width: 1600px) {
        width: var(--pick-button-size);
        height: var(--pick-button-size);
        .selected-icon {
          width: 20px;
          height: 20px;
        }
      }
      h1 {
        font-size: 1rem;
      }

      button {
        position: absolute;
        bottom: 20px;
        width: 60px;
        border: 1px solid #b5b1b1;
      }
    }

    .pick-gaming-button {
      background-color: rgba(223, 155, 224, 0.6);

      img {
        width: 20px;
        height: 15px;
      }
    }

    .pick-fashion-button {
      background-color: rgba(204, 255, 204, 0.6);
    }

    .pick-music-button {
      background-color: rgba(255, 194, 153, 0.4);
    }

    .pick-reading-button {
      background-color: rgba(37, 117, 209, 0.2);
    }
  }

  .victory-success{
    width: 300px;
  }

  h1,
  p {
    margin: 0.5rem 2rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  button {
    width: var(--button-width);
    height: var(--button-height);
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    width: calc(var(--button-width) + 10px);
  }

  .active-button {
    background-color: #0267ff;
    color: #fff;
    border-radius: 15px;
    margin-top: 15px;
  }

  .interests-button {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #333;
    border-radius: 15px;
    margin-top: 15px;
  }

  .continue {
    margin-top: 20vh;
    background-color: #0267ff;
    color: #fff;
  }
}
