.interest-container {
    margin: 80px 50px;
    width: 100%;

    .interest-column {
        display: flex;
        flex-direction: column;
        align-items: center;

        .pick-row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.5rem;

            .pick-button {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 200px;
                height: 200px;
                padding: 10px;

                button {
                    position: absolute;
                    bottom: 30px;
                    width: 90px;
                    border: 1px solid #b5b1b1;
                }
            }
            .pick-gaming-button {
                background-color: rgba(223, 155, 224, 0.6);

                img {
                    width: 20px;
                    height: 15px;
                }
            }
            .pick-fashion-button {
                background-color: rgba(204, 255, 204, 0.6);
            }
            .pick-music-button {
                background-color: rgba(255, 194, 153, 0.4);
            }
            .pick-reading-button {
                background-color: rgba(37, 117, 209, 0.2);
            }
        }

        .victory-success {
            height: 20rem;
        }

        h1 {
            margin-bottom: 1rem;
        }

        button {
            width: 200px;
            height: 30px;
            margin-top: 10px;
            outline: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;

        }
        button:hover {
            width: 210px;
        }
        .active-button {
            background-color: #0267FF;
            color: #fff;
            border-radius: 15px;
            margin-top: 30px;
        }
        .interests-button {
            background-color: #ffffff;
            color: #000;
            border: 1px solid #333;
            border-radius: 15px;
            margin-top: 15px;
        }
        .continue {
            margin-top: 25rem;
            background-color: #0267FF;
            color: #fff;
        }
        .pick-continue {
            margin-top: 5rem;
            background-color: #0267FF;
            color: #fff;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .interest-container {
        margin: 80px 5px;
        width: 100%;
        .interest-column .continue {
            margin-top: 5rem;
        }
        .interest-column .pick-row .pick-button{
            width: 180px;
            height: 140px;
        }
        .interest-column .pick-continue{
            margin-top: 1rem;
        }
        
    }

}