:root {
    --sidemenu-width-mobile: 0vw;
    --sidemenu-width-small: 20vw;
    --sidemenu-width-medium: 50%;
  }
  
  * {
    overflow: hidden;
  }
  
  .sidemenu-container {
    display: flex;
    width: 100%;
  
    @media (max-width: 650px) {
      justify-content: center;
    }
  }
  
  .sidemenu {
    position: relative;
    height: 100vh;
    width: var(--sidemenu-width-medium);
    background-color: #0267FF;
  
    img {
      width: 100vh;
      height: 109vh;
    }
  
    @media (max-width: 600px) {
      width: var(--sidemenu-width-mobile);
    }
  
    @media (min-width: 601px) and (max-width: 853.2px) {
      width: var(--sidemenu-width-small);
    }
  }
  