.sidemenu-container {
  width: 50%;
  @media (min-width: 0px) and (max-width: 638px) {
    width: 0%;
  }
  display: flex;
  overflow: hidden;

  .sidemenu {
    position: relative;
    height: 100vh;
    background-color: #0267ff;
    
    img {
      min-width: 50vw;
      width: 100vh;
      height: 109vh;
    }
  }
}
