:root {
  --button-width: 200px;
  --button-height: 30px;
}

.photo-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 4rem 0rem;

  h1,
  p {
    margin: 0rem 2rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  img {
    width: 160px;
    margin: 2rem;
    cursor: pointer;
  }

  button {
    width: var(--button-width);
    height: var(--button-height);
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    width: calc(var(--button-width) + 10px);
  }

  .upload {
    margin-top: 30vh;
    background-color: #0267ff;
    color: #fff;
  }

  .skip {
    background-color: #ffffff;
    color: #000;
  }
}
