:root {
  --container-width-desktop: 1024px;
  --container-width-mobile: 375px;

  --button-width: 200px;
  --button-height: 30px;
}

.photo-container {
  margin: 0 auto;
  width: var(--container-width-desktop);

  @media (max-width: 1024px) {
    width: var(--container-width-mobile);
  }
  @media (max-width: 1600px) {
    width: var(--container-width-mobile);
  }

  .photo-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;

    img {
      margin-top: 50px;
      cursor: pointer;
    }

    button {
      width: var(--button-width);
      height: var(--button-height);
      margin-top: 10px;
      outline: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      width: calc(var(--button-width) + 10px);
    }

    .upload {
      margin-top: 30vh;
      background-color: #0267ff;
      color: #fff;
    }

    .skip {
      background-color: #ffffff;
      color: #000;
    }

    .skip {
      background-color: #ffffff;
      color: #000;
    }
  }
}
