.title {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #0267ff;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.account-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 4rem 0rem;

  .input-element {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    label {
      padding-bottom: 0.3rem;
    }

    input {
      height: 1.5rem;
      width: 240px;
      padding: 0.2rem;
    }
  }

  button {
    width: 250px;
    height: 40px;
    outline: none;
    border: none;
    margin: 10px;
    cursor: pointer;
  }

  .create {
    background-color: #0267ff;
    color: #fff;
  }
}
.google-button {
  display: flex;
  background-color: #f0eded;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .google-logo {
    width: 20px;
    height: 20px;
  }
  p {
    font-size: 1rem;
    color: black;
  }
}
